
html{
    background-color:#141130; 
}
main{
    background-color: #141130;
    color: white;
}

body{
    width: 50%;
    margin: auto;
}


div img:hover{
opacity: 1;

transform: scale(1.1);
    transition: 1s linear;

}
div img{
    opacity: 0.7;
}
.ay{
    display: flex;
}
a{
    font-size: 25px;
    text-decoration: none;
    color: white;
    opacity: 0.8;

}
h4{
    font-size: 25px;
    opacity: 0.7;
}
h4:hover{
opacity: 1;
font-size: 30px;
transform: scale(1.01);
    transition: 2s linear;

}
h5{
    font-size: 50px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
h6{
    font-size:25px ;
}

.bk{
    margin-left: 40px;
}
p1{
    font-size: 20px;
}
a{
    font-size: 25px;
}
.jj{
    display: flex;
    justify-content: space-between;
    

}

.jj a {
    margin-top: 50px;
}
h1{
    display: flex;
    padding-left:20px ;
}
img{
    display: flex;
    padding-right: 20px;
}
.rr{
    display: flex;
    padding-left: 50px;
}
footer{
    display: block;
    padding-top: 40px;
    background-color: #141130;
    color: white;
}
footer p {
    display: block;
}
a3{
    display: flex;
    padding-left:290px ;
    font-size: 50px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}
.ww{
    background-color: #141130;
    color: white;
    display: flex;
    padding-left: 320px;
    font-size: 29px;
    padding-top: 40px;
    padding-bottom: 1px;
}
.gg{
    padding-left: 220px;
    font-size: 29px;
}
p{
    font-size: 20px;
}
